<nav role="navigation"> <!--This is a semantic change--><!--role attribute is an A11y Change -->
  <ul>
      <li><a [routerLink]="['/']">Home</a></li><!--This is SEO change-->
      <li><a [routerLink]="['/about']" >About</a></li><!--This is SEO change-->
      <li><a [routerLink]="['/login']" rel ="canonical">Login</a></li><!--This is SEO change-->
      <li><a [routerLink]="['/signup']" rel ="canonical">Signup</a></li>
      <li><a [routerLink]="['/contact']" >Contact</a></li>

  </ul>
</nav>
